# automations/tests
AUTOMATION_TESTS_FOLDER_ID=folder_id_where_you_want_to_save_results
DOCS_TEMPLATE_ID=file_id_that_will_be_used_as_template
RECEIVER_EMAIL_ADDRESS=example_name@example_domain

# automations
MEMBER_ROLE_MANAGEMENT_SPREADSHEET_ID=file_id_of_member_role_management_spreadsheet
TERMINED_CERTIFICATE_TEMPLATE_DOCS_WITH_CPF_ID=file_id_of_termined_certificate_template_docs
TERMINED_CERTIFICATE_TEMPLATE_DOCS_NO_CPF_ID=file_id_of_termined_certificate_template_docs
TERMINED_CERTIFICATE_TEMPLATE_DOCS_ID=file_id_of_termined_certificate_template_docs
CANDIDATES_INFORMATION_SPREADSHEET_ID=file_id_of_candidates_information_spreadsheet
INTERVIEW_TEMPLATE_DOCS_ID=file_id_of_interview_template_docs
CURRENT_RECRUITMENT_PROCESS_INTERVIEW_FOLDER_ID=folder_id_of_current_recruitment_process_interview